{{#if toastMessage}}
    <p>{{toastMessage}}</p>
{{/if}}
<div id="articles-page">
    <h1>All Articles</h1>

    <div class="all-cards">
        
        <div class="summary-card">
            <div class="card-image">
                <img src="/images/bowl.jpeg">
            </div>
            <div class="card-title">
                <h3>Cats</h3> 
                <h4>By Molly Leslie </h4>
            </div>
            <div class="card-content">
                <p>Cat ipsum dLove me! to pet a cat, rub its belly, endure blood and agony, quietly weep, keep rubbing belly groom forever, stretch tongue and leave it slightly out, blep hunt anything and i want to go outside let me go outside nevermind inside is better. Cat is love, cat is life it's 3am, time to create some chaos ooh, are those your $250 dollar sandals? lemme use that as my litter box mess up all the toilet paper or cat milk copy park pee walk owner escape bored tired cage droppings sick vet vomit, meow loudly just to annoy owners. Love to play with owner's hair tie. Meow for food,</p>
            </div>           
        </div>
        
    </div>
</div>
