<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Lustrous Lynxes</title>
    {{/if}}

    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/client.js"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Article</a>
            {{#if user}}
            <div class="logout">
                <a href="./logout">Logout</a>
            </div>
            {{else}}
            <a class="login" href= "./login">Login</a>
            {{/if}}
        </nav>
    </header>

    {{{body}}}
</body>

</html>