<div class="article-form">
    <form action="./add-article" method="POST">
        <textarea name="article" id="article" cols="30" rows="10">Create your article here!</textarea>
        <button type="submit">Publish article</button>
    </form>
</div>