{{#block "pageHead"}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{{/block}}

<form action="/add-article">
    <textarea name="article" id="article" cols="30" rows="10">Create your article here!</textarea>
</form>