<div class="page-container">
    <div class="article-form form-container">
        <h1>Create a new article</h1>
        <form action="./add-article" method="POST" enctype="multipart/form-data">
            <label for="articleTitle">Title:</label>
            <input type="text" name="articleTitle" id="articleTitle" placeholder="Your title here" required>
            <br>

            <label for="imageInput">Upload your main image:</label>
            <input type="file" id="imageInput" class="image-box" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
            <br>

            <label for="imageCaption" class="if-file-chosen hidden">Image Caption:</label>
            <input type="text" name="imageCaption" id="imageCaption" class="if-file-chosen hidden"
                placeholder="What's in this picture?">
            <br class="if-file-chosen hidden">

            <label for="articleContent">Content:</label>
            <div class="wysiwyg-container">
                <textarea name="articleContent" id="articleContent" cols="30" rows="10"
                    placeholder="Your article content goes here!"></textarea>
            </div>

            <button type="submit">Publish article</button>
        </form>
    </div>
</div>