<div class="page-container">
    {{#if correctAuthor}}
    <div class="article-form form-container">
        <h1>Edit your article</h1>
        <form action="./edit-article" method="POST" enctype="multipart/form-data">
            <label for="articleTitle">Title:</label>
            <input type="text" name="articleTitle" id="articleTitle" value="{{article.title}}">
            <br>

            <label for="imageInput">Upload your main image:</label>
            <input type="file" id="imageInput" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
            <br>

            <label for="imageCaption">Image Caption:</label>
            <input type="text" name="imageCaption" id="imageCaption" value="{{article.image.caption}}">
            <br>

            <label for="articleContent">Content:</label>
            <textarea name="articleContent" id="articleContent" cols="30" rows="10">{{article.content}}</textarea>
            
            <button type="submit">Publish article</button>
        </form>
    </div>
    {{else}}
    <h1>Access denied</h1>
    <p class="centred-text">You do not have permission to edit this article.</p>
    {{/if}}
</div>