@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kavoon&family=Roboto&family=Roboto+Slab:wght@500&display=swap');

:root {
  font-family: 'Kavoon', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

h1, h2 {
    font-family: 'Kavoon', sans-serif;
    text-align: center;
}

h2 {
    color: #4caf50;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 100%; /* Set a fixed width for the container */
    height: 75px; /* Set a fixed height for the container */
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
}

.login-form {
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    background-color:#f9f9f9;
    border: 1px solid #333;
}

.login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #C1E5C7;
    color: #333;
}

.create-btn {
    text-decoration: none;
}

/*Exactly the same as for .login-form - do we want to make this just "button"?*/
.article-form button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/*Exactly the same as for .login-form - do we want to make this just "button:hover"?*/
.article-form button:hover {
    background-color: #4caf50;
}

/*Size of WYSIWYG - can change this later*/
#article {
    height: 60vh;
}
/*Check if username exists. Show text in red*/
#checkExists{
    color:red;
}
/*Scale icon to appropriate size*/
.icon {
    max-width: 50px;
    max-height: 50px;
  }

  .all-cards {
    background-color: #E2F3E3;
    padding: 5%;
    margin: 2%;
}

.summary-card {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: 
    "image title content content"; 
    background-color: white;
    box-shadow: 5px 10px 5px #C1E5C7;
    margin-bottom: 2%;
    height: 10em;
    overflow: hidden;
}

.card-image {
    grid-area: image;   
}

.card-image img {
    width: 12em;
}

.card-title {
    grid-area: title;
    justify-self: left;
}

.card-content {
    grid-area: content;
}

.card-content p {
    padding-right: 2em;
    text-align: justify;
}

.card-content a {
    text-align: right;
    font-weight: bolder;
    text-decoration: none;
    color: #4caf50;
}

.card-content a:hover {
    color: #333;
    font-size: large;
}

.full-card {
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas: 
    "image content content"; 
    background-color: white;
    box-shadow: 15px 20px 10px #C1E5C7; 

}

.header-image {
    grid-area: image;
}

.header-image img {
    max-width: 100%;
}

.full-content {
    grid-area: content;
}

.full-content p {
    padding: 2em;
    text-align: justify;
}





