<<<<<<< HEAD
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
=======
* {
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: flex;
>>>>>>> faa5d168bed3d244c5bc04501c6cfe243760c464
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

<<<<<<< HEAD
=======
.login {
    margin-left: auto;
}

.logout {
    display: flex;
    margin-left: auto;
}

>>>>>>> faa5d168bed3d244c5bc04501c6cfe243760c464
.login-form {
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
}

.login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
<<<<<<< HEAD
=======
}

.create-btn {
    text-decoration: none;
>>>>>>> faa5d168bed3d244c5bc04501c6cfe243760c464
}