@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Kavoon&family=Roboto&family=Roboto+Slab:wght@500&display=swap');

:root {
    font-family: 'Kavoon', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', sans-serif;
    color: #333;
    --text-color: #333;
    --bg-color: #fff;
    --button-text-color: #333;
    --button-bg-color: transparent;
    --button-border-color: #333;
}

.theme-light {
    --text-color: #333;
    --bg-color: #fff;
    --button-text-color: #fff;
    --button-bg-color: transparent;
    --button-border-color: #fff;
}

.theme-dark {
    --text-color: #fff;
    --bg-color: #333;
    --button-text-color: var(--button-text-color-night);
    --button-bg-color: var(--button-bg-color-night);
    --button-border-color: var(--button-border-color-night);

    .all-cards {
        color: #333;
    }
    .login-form p {
        color: #333;
    }

    .page-container legend, label {
        color: #333;
    }
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0 2em 0.5em 2em;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 0.75em;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

h2 {
    color: #4caf50;
}

h3 {
    font-family: 'Kavoon', sans-serif;
    color: #4caf50;
}

.page-heading {
    text-align: left;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 100%; /* Set a fixed width for the container */
    height: 75px; /* Set a fixed height for the container */
    align-items: center;
    justify-content: space-between;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar a:hover {
    font-size: 1.25em;
    color: #E2F3E3;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
}

input:not(#imageInput), textarea, .image-box {
    width: 100%;
    padding: 1em 2em;
    margin: 1em auto;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
    background-color: white;
}

.image-box-container {
    display: flex;
}

.existing-image-container {
    border-right: 0px;
    width: auto; 
}

.image-input-container {
    flex: 1;
    width: 100%;
}

.existing-image {
    width: 12em;
    height: 10em;
    object-fit: cover;
}

.inner-label {
    margin-top: 0px;
    margin-bottom: 0.2em;
}

#imageInput {
    margin: 7px auto;
}

.wysiwyg-container {
    margin: 8px 0px;
    border: 1px solid #333;
}

/*Size of WYSIWYG - can change this later*/
#articleContent {
    height: 80vh;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    font-size: larger;
    font-weight: bolder;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #C1E5C7;
    color: #333;
}

.form-container {
    margin: 0px auto;
    padding: 2em;
    background-color:#E2F3E3;
    border: 1px solid #333;
    box-shadow: 5px 10px 5px #777;
}

.narrow-form {
    width: 30em;
}

.landing {
    background-color: #333;
    padding: 2em;
    margin-top: 5em;
}

.article-form {
    margin-top: 3em;
    width: 90%;
    margin: auto;
    color: #333;
}

.login-form {
    margin: 5em auto;
}

.page-container {
    padding: 1em 5em 5em 5em;
}

.settings-forms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.settings-form {
    margin: 0;
    flex: 0 0 25em;
}

.create-btn {
    text-decoration: none;
}

/*Check if username exists. Show text in red*/
#checkExists{
    color:red;
}

.all-cards {
    background-color: #E2F3E3;
    padding: 5%;
    margin: 2%;
}

.summary-card {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: 
    "image title content content"; 
    background-color: white;
    box-shadow: 5px 10px 5px #C1E5C7;
    margin-bottom: 2%;
    height: 10em;
    overflow: hidden;
}

.summary-card.my-page {
    grid-template-columns: 1fr 1.5fr 3fr 1fr;
    grid-template-areas: 
    "image title content content options";
}

.summary-card.my-page .card-title {
    padding-left: 1em;
    grid-area: title;
    justify-self: centre;
    color: #333; 
}

.card-image {
    grid-area: image;   
}

.card-image img {
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.card-content {
    grid-area: content;
}

.card-content p {
    padding-right: 2em;
    text-align: justify;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card-info p {
    font-size: 1.25em;

}

.card-options {
    grid-area: options;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-options button {
    width: 8em;
    font-size: medium;
    font-weight: bold;
    padding: 1em 0px;
}

#read-more {
    color: #4caf50;
    font-weight: bolder;
    font-size: 1.25em;
}

#read-more:hover {
    color: #333;
}

.all-cards a {
    text-decoration: none;
    color: #333;
}

.summary {
    max-height: 7em;
    overflow: hidden;
}

.full-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "image title"
    "content content";
    background-color: white;
    box-shadow: 15px 20px 10px #C1E5C7; 
}

.header-image {
    grid-area: image;
    max-height: 15em;
    overflow: hidden;
}
.header-image img {
    max-height: 15em;
}

.header-image p {
    text-align: center;
    color: #4caf50;
}

.header-details {
    grid-area: title;
    padding-top: 2em;
    justify-self: start;
}

.header-details a {
    color: #4caf50;
}

.full-content {
    grid-area: content;
}

.full-content p {
    padding: 2em;
    text-align: justify;
    color: #333;
}

.centred-text {
    text-align: center;
}

#comment-form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: #5cb85c solid 1px;
    height: 7em;
    resize: vertical;
    box-shadow: 5px 10px 5px #C1E5C7;
}

#comment-form:after {
    content: "";
    display: table;
    clear: both;
}

.comment-card {
    display: grid;
    grid-template-columns: 1fr 2fr 7fr;
    grid-template-areas: 
    "image title content content"; 
    background-color: white;
    box-shadow: 5px 10px 5px #C1E5C7;
    margin-bottom: 2%;
}

.card-avatar {
    grid-area: image;   
}

.card-avatar img {
    max-height: 5em;
    padding-top: 1em;
    padding-left: 1em;
}

.card-title {
    margin-right: 2em;
    padding-right: 2em;
    border-right: 4px inset #E2F3E3 ;
}

.card-title h4 {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Kavoon', sans-serif;
}

.comment-text {
    margin-top: 5px;
}

.likeButtons {
    max-width: 10em;
}

#login-request {
    text-align: center;
}

#login-request>a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.rating {
    max-width: 95%;
    margin: auto;
}

.rating button{
    width: 10em;
}

.rate-form {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer; 
    font-size: 1.25em; 
    margin-right: 0.5em;
}

.rate-form input[type=radio] {
    transform: scale(1.5);
}

.rate-form input[type=radio]:hover {
    transform: scale(2);
}

.rating form {
    background-color: #555;
    text-align: center;
    padding: 2em;
    color: #E2F3E3;
}

.radio-div {
    margin-right: 1em;
}

.hidden {
    display: none !important;
}

.logo {
    max-height: 60vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    box-sizing: border-box;
}

header {
    position: relative;
}

.toast-container {
    position: absolute;
    top: calc(100% + 1em);
    left: 1em;
    background-color: white;
    box-shadow: 2px 4px 5px #C1E5C7;
    border: #5cb85c solid 1px;
    border-left-width: 0.5em;
}

.toast-container p {
    color: black;
    margin: 1em;
    margin-right: 3em;
}

/*
Styles for user header on account page
*/

.user-header {
    /* Setting background image */
    background-color: #E2F3E3;
    background-image: url("../images/header/background.png");
    background-size: cover;
    background-position: right center;

    width: 100%;
    padding: 4em;
    padding-left: 8%;
    box-sizing: border-box;

    display: grid;
    grid-template-areas: "image name buttons" "image info buttons" ". description buttons";
    grid-template-columns: 8em 1fr 14em;
    column-gap: 2em;
    align-items: end;
}

.user-avatar {
    grid-area: image;
}

.user-avatar img {
    width: 100%;
}

.user-username {
    grid-area: name;
}

.user-username h1 {
    text-align: left;
    font-size: 5em;
    margin: 0;
}

.user-info {
    grid-area: info;
    padding-right: 3em;
}

.user-info table {
    border-collapse: collapse;
    border: none;
}

.user-info th, .user-info td {
    text-align: left;
    vertical-align: center;
    padding-right: 1em;
}

.user-info th {
    width: 7em;
    padding-left: 0;
    box-sizing: border-box;
}

.user-description {
    grid-area: description;
}

.user-description p {
    margin: 0.5em 3em 0 0;
}

.user-header-button-container {
    grid-area: buttons;
    align-self: center;
}

.user-header-button-container button {
    width: 12em;
    margin: 0.5em 0;
}

@media only screen and (max-width: 1280px) {
    .user-header {
        background-position: calc(100% + 150px) center;
    }
}

@media only screen and (max-width: 1024px) {
    .user-header {
        grid-template-areas: "image name buttons" "image info buttons" "description description buttons";
    }
}

@media only screen and (max-width: 900px) {
    .full-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "image"
        "title"
        "content";
    }

    .header-image {
        grid-area: image;
        width: 98%;
        margin: auto;
        height: auto;
    }
    
    .full-content {
        grid-area: content;
    }
    
    .full-content p {
        text-align: justify;
    }

    .article-form {
        margin-top: 4em;
        width: 95%;
        margin: auto;
    }

    .image-box-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "current"
        "new";

    }
    
    .existing-image-container {
       grid-area: current;
       border: #333 solid 1px;
    }
    
    .image-input-container {
        grid-area: new;
    }

    .summary {
        display: none;
    }

    .summary-card.my-page {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title read options";
    }

    .summary-card.my-page .card-content{
        grid-area: read;
    }
    
    .card-title {
        padding-left: 2em;
    }

    .summary-card {
        height: fit-content;
    }
}


@media only screen and (max-width: 850px) {
    .user-header {
        background-position: calc(100% + 320px) center;
        grid-template-areas: "image name" "image info" "description description" "buttons buttons";
        grid-template-columns: 8em 1fr;
        padding-right: 20%;
    }

    .user-username h1 {
        text-align: left;
        font-size: clamp(2em, 10vw, 5em);;
        margin: 0;
    }

    .user-description {
        margin-bottom: 1em;
    }

    .user-header-button-container {
        text-align: center;
    }

    .user-header-button-container button {
        margin: 0.2em 0.5em;
    }
}

